<section class="homepage-section section-competence" id="{{site.menu1}}">
    <div class="page-wrapper">
      <h2 class="title-secondary">{{site.menu1}}</h2>
      <div class="wysiwyg">
          <p class="title-tertiary">Développement</p>
          <i class="devicon-html5-plain colored"></i>
          <i class="devicon-css3-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-jquery-plain colored"></i>
          <br /><br />
          <i class="devicon-foundation-plain-wordmark colored"></i>
          <i class="devicon-sass-original colored"></i>
          <i class="devicon-less-plain-wordmark colored"></i>
          <i class="devicon-gulp-plain colored"></i>
          <br />
          <i class=" colored">JSP</i>
          <i class="devicon-php-plain colored"></i>
          <i class=" colored">Coldfusion</i>
      </div><!--
        --><div class="wysiwyg wysiwyg--last">
          <p class="title-tertiary">Outils</p>
          <i class="devicon-sourcetree-original-wordmark colored"></i>
          <i class="devicon-gitlab-plain colored"></i>
          <i class="devicon-bitbucket-original-wordmark colored"></i>
          <br /><br />
          <i class="devicon-trello-plain colored"></i>
          <i class="devicon-confluence-original colored"></i>

          <br /><br />
          <i class="devicon-atom-plain colored"></i>
          <i class="devicon-jetbrains-plain-wordmark colored"></i>

          <br /><br />
          <i class="devicon-photoshop-plain colored"></i>
      </div>
  </div>
</section>
