<section class="homepage-section section-experience" id="experience">
  <div class="page-wrapper">
      <h2 class="title-secondary">Mon expérience</h2>
      <div class="wysiwyg">
        <p class="title-tertiary">Développeur Senior - solutions medias 360</p>
        <span class="date">Depuis Septembre 2014</span>
        Solutions Medias 360 (SM360), entreprise spécialisée dans le développement de
        produits et services numériques pour l’industrie de l’automobile et des médias.
        <br /> <br>
        J'ai développé une expertise dans la création de thèmes réutilisables. <br>
        Mes points forts: architecture, code plug & play, styleguide, bonnes pratiques , code sématique.
      </div>

      <div class="wysiwyg">
        <p class="title-tertiary">Développeur Junior - Vortex Solutions</p>
        <span class="date">Février à septembre 2014</span>
          Développeur web dans une grande agence, je travaille directement en collaboration
          avec le designer web et le chargé de projet.
          Je développe en coldFusion avec Microsoft SQL Server 2008.
          Je possède une bonne expérience en HTML/CSS/JQuery.
          La plupart des sites sur lesquels je travaille sont responsives.
      </div>

      <div class="wysiwyg">
          <p class="title-tertiary">Intégrateure web Junior - Pixel Circus</p>
          <span class="date">Novembre 2012 à Février 2014</span>
            Intégration d’aplication Facebook, sites responsive et infolettres.
            J’utilise les technologies HTML5 / CSS3 / PHP5 et suis familière de la
            méthode Agile. J’ai également une expertise avec wordpress et JQuery.
      </div>

      <div class="wysiwyg">
          <p class="title-tertiary">Opératrice à l'entrée de données - Marine Press of canada</p>
          <span class="date">2006 à 2011</span>
            Mon premier travail au Canada. Révision de document technique, gestion
            d'inventaire électronique, support technique.
            Production de données sur DVD et préparation des envois.
      </div>
    </div>
</section>
