<section class="homepage-section section-formation" id="{{site.menu3}}">
    <div class="page-wrapper">
        <h2 class="title-secondary">{{site.menu3}}</h2>
        <div class="wysiwyg">
          <p class="title-tertiary">AEC programmeur analyste - Cégep de Rosemont</p>
          <span class="date">2011 à 2012</span>
          Formation intensive d'un an. J'ai étudié les langages de programmation
          Orienté Objet: Java, C++, C#. Les bases de données: Oracle et MySQL.
          Les interfaces utilisateurs: VB.net. Les langages du web: HTML, CSS, PHP, Javascript
        </div>

        <div class="wysiwyg">
          <p class="title-tertiary">D.A.E.U. equiv. DEC Arts & Lettres - Université du Maine, France</p>
          <span class="date">2003 à 2004</span>
          Diplôme préparé dans une université dans le but d’obtenir une équivalence
          au baccalauréat. Les principaux objectifs de ce diplôme sont de pouvoir
           reprendre des études, principalement à l’université ou de pouvoir passer des concours administratifs.
        </div>
    </div>
</section>
