@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,500,600,700,900);
// Define defaults for each variable.

$base-font-family: "Lato", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #6d6e71 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$white-color:      #fff !default;
$black-color:      #111 !default;
$primary-color:    #f5811f !default;


// Width of the content area
$content-width:    960px !default;

$small:              0  !default;
$medium:          720px !default;
$large:          1024px !default;
$xlarge:         1200px !default;
$xxlarge:        1450px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
