/**
 * Wrapper
 */
.page-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding: 60px $spacing-unit ;
  @extend %clearfix;
}

.page-content{
  padding: $spacing-unit 0;
}

.title-primary{
   font:800 27px/37px $base-font-family;
   margin-bottom: calculateRem(15px);
}

.title-secondary{
   font:800 17px/24px $base-font-family;
   text-transform: uppercase;
   letter-spacing: .1rem;
   margin-bottom: calculateRem(15px);
}

.title-tertiary{
  @include font-size(18px);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1rem;

  &--small{
    @include font-size(10px);
  }
}

.title-quaternary{
  @include font-size(12px);
  font-weight: 800;
}

.homepage-link{
  margin: 30px 0;
  text-align: center;
}
.homepage-tagline{
  font-style: italic;
}
.link-regular{
  text-decoration: underline;

  &:hover,&:focus,&:active{
    text-decoration: none;
  }
}

.wysiwyg{
  box-sizing: border-box;
  margin-bottom:calculateRem(30px);

  vertical-align: top;
}

.date{
  display:block;
  @include font-size(14px);
  font-style: italic;
}

.section-competence{
  background-color: $primary-color;
}
.section-experience{
  background-color: $secondary-color;

  &-list {
    padding-left:18px;

    li{
      list-style: disc;
    }
  }
}

.section-formation{
  background-color: $tertiary-color;
}
.section-realisation{
  background-color: $quaternary-color;
}


@media (min-width: $small){

}
@media (min-width: $medium){
}

@media (min-width: $large){

  .section-about{
    .wysiwyg{
      @include inline-block;
      font-style: italic;
    //  width:33%;
      padding-right:calculateRem(30px);

      &--last{
        padding-right: 0;
      }
    }
  }

  .section-competence{
    .wysiwyg{
      @include inline-block;
      width:50%;
      padding-right:calculateRem(30px);

      &--last{
        padding-right: 0;
      }
    }
  }
}


/**
 * Media Queries
 */

 // @include media-query($large) {
 //   .page-wrapper{
 //     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
 //     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
 //     padding-right: $spacing-unit / 2;
 //     padding-left: $spacing-unit / 2;
 //   }
 //
 //    .wysiwyg{
 //        @include inline-block;
 //        vertical-align: top;
 //               background-color: pink;
 //    }
 //   .section-about{
 //     .wysiwyg{
 //
 //       padding-left: $spacing-unit;
 //
 //       &:first-child{
 //         padding-left:0;
 //       }
 //     }
 //   }
 // }
