/**
 * Wrapper
 */
.page-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}
.page-content{
  padding: $spacing-unit 0;
}

.title-primary{
   font:800 27px/37px $base-font-family;
   margin-bottom: calculateRem(15px);
}

.title-secondary{
   font:800 17px/24px $base-font-family;
   text-transform: uppercase;
   letter-spacing: .1rem;

}

.title-tertiary{
  font:800 14px/24px $base-font-family;
  text-transform: uppercase;
  letter-spacing: .1rem;
 margin-bottom: calculateRem(15px);
}

.wysiwyg{
  font:300 16px/28px $base-font-family;
  margin-bottom: calculateRem(15px);
}


.section-skills{
  &__wrapper{
     margin-bottom: calculateRem(15px);
  }
}


/**
 * Media Queries
 */

 @include media-query($large) {
   .page-wrapper{
     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     padding-right: $spacing-unit / 2;
     padding-left: $spacing-unit / 2;
   }

 }
