---
layout: default
---

<div class="homepage">
  <div class="page-wrapper">
      <h1 class=title-primary>Sabrina Lecourt</h1>
      <p class="homepage-tagline">
        Intégratrice Web, développeure Junior, développeure Senior Front End puis Tech Lead Web Dev ... Et la suite ?
      </p>
  </div>
<!--     {% include about.html %}-->
    {% include competences.html %}
    {% include experience.html %}
    {% include formation.html %}
    {% include portfolio.html %}
    <p class="homepage-link">
      <a href="http://sabrinalecourt.ca/#portfolio" target="_blank" class="link-regular">Voir mes plus anciens projets</a>
    </p>
</div>
