---
layout: default
---

<div class="homepage">
  <div class="page-wrapper">
      <br><br>
      <h1>
          <span class=title-primary>Sabrina Lecourt</span> <br>
          <span class="homepage-tagline">
              Développeur Web Front End
          </span>
      </h1>
  </div>
 <!--   {% include about.html %}-->
    {% include experience.html %}
    {% include formation.html %}
    {% include portfolio.html %}
    <p class="homepage-link">
      <a href="http://sabrinalecourt.ca/#portfolio" target="_blank" class="link-regular">Voir mes plus anciens projets</a>
    </p>
</div>
